header {
    h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .skipTo {
    left: 50%;
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.5s;
            &:focus {
                transform: translateY(0%);
            }
    }
    p {
        font-size: 1.5rem;
    }
}

